.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1000;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header .cart-container {
    position: relative;
    padding: 5px 0;
}